#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--bg-color);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneakpeak {
  font-size: 20px;
  letter-spacing: 2px;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}

#navbar li a {
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--primary-color);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.speedDial {
  position: fixed;
  right: 5.5vmax;
  top: 0.3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
